* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background-color: #f0f0f0;
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

#destinationSearch {
  padding: 7px 15px;
  border-radius: 10px;
  border: none;
}

#btn-search {
  padding: 7px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

#btn-reset {
  padding: 7px 15px;
  background-color: rgb(211, 55, 55);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

#hero {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./bgimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

#resultDiv {
  padding-right: 20rem;
}

#aboutHero {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./bgimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: center;
  color: white;
}

#aboutHero > h1 {
    font-size: 3rem;
    width: 50rem;
    padding-left: 10rem;
}

#aboutHero > p {
    width: 50rem;
    padding-left: 10rem;
}

#content > h1 {
    font-size: 3rem;
    width: 50rem;
    padding-left: 10rem;
}

#content > p {
    width: 50rem;
    padding-left: 10rem;
}

.team {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10rem;
    padding-right: 20rem;
    /* background-color: aquamarine; */
    width: 80vw;
    padding-top: 10rem;
}

.team > h2 {
    font-size: 3rem;
}

.team-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin: 0;
    /* background-color: bisque; */
    width: 20rem;
}

.team-card > svg {
    width: 6rem;
    height: 6rem;
}

.team-card > h3 {
    text-align: center;
}

.team-card > p {
    text-align: center;
    max-width: 100em;
    padding: 0;
    margin: 0;
}

#contact-hero {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./bgimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.contact-container > h1 {
    font-size: 3rem;
    width: 50rem;
    padding-left: 10rem;
}

.contact-container > p {
    width: 50rem;
    padding-left: 10rem;
}

.form-container {
    display: block;
    gap: 10px;
}

.form-container label {
    color: #f2f2f2;
    font-size: 1rem;
}

.form-container input, textarea {
    width: 20rem;
    border: 1px solid #c0bfbf;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    background: none;
    color: #c0bfbf;
}

::placeholder {
    color: #c0bfbf;
    font-size: 1rem;
}

.form-container button {
    width: 20rem;
    margin: 0;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-size: 1rem;
}